$primary0: #89A3E0;
$primary1: #5169A0;
$primary2: #2E4272;
$primary3: #142243;
$primary4: #040915;

$secondary0: #EC85C1;
$secondary1: #BE5593;
$secondary2: #872D62;
$secondary3: #501136;
$secondary4: #190310;

$tertiary0: #D2F88C;
$tertiary1: #B3DE64;
$tertiary2: #789E35;
$tertiary3: #435E14;
$tertiary4: #141D03;

$gray0: #dedede;
$gray1: darken($gray0, 15%);
$gray2: darken($gray1, 15%);
$gray3: darken($gray2, 15%);
$gray4: darken($gray3, 15%);